*{
  margin: 0;
}
body,html {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 ;
}

form{
  margin: 2.5em auto;
}

input{
  margin-right: 2em;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.App-header {
  width: 325px;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 480px;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

i{
  cursor:pointer;
}

h1,h2{
  margin: 0;
}

.weather-data{
  width: 300px;
  margin: 2em auto;
  text-align: center;
}


.city-name{
  font-size: .75rem;
}

.weather-temp{
  font-size: 1.5rem;
}

.weather-data-current-temp-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em auto; 
}

.weather-icon{
  border-right: solid;
  margin-right: .5em;
}

.weather-data-sub-info, .weather-data-sub-info2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.weather-data-sub-info2 h1{
  font-size: 1.25rem;
}

.weather-data-sub-info2 p{
  font-size: .75rem;
}
.weather-data-min-max, .weather-data-condition{
  font-size: 1rem;
}

.forecast-title{
  margin-bottom: .75em;
}

.forecast-div{
  display: flex;
  justify-content: space-evenly;
  font-size: .5rem;
}

.weather-temp, .weather-data-sub-info2 h1, .weather-data-condition{
  text-shadow: 1px 2px 1.5px rgba(0,0,0,0.3);
}

.footer {
  background: rgba(162,210,255,1);
  color: var(--clr-accent);
  text-align: center;
  font-size: var(--fs-h3);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

#github-link{
  display: inline-block;
  font-size: 2rem;
}

a:link {
  
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

.footer-link:link{
  color: rgba(255,175,204,1);
}
.footer-link:visited{
  color: rgba(205,180,219,1);
}

@media (min-width: 700px) {
  .App-header{
    width: 600px;
    height: 800px;
  }
  .city-name{
    font-size: 1.25rem;
    
  }
  .weather-data{
    width: 400px;
  }
  .weather-temp{
    font-size: 2.75rem;
  }
  .weather-data-sub-info2 p{
    font-size: 1.25rem;
  }
  .weather-data-sub-info2 h1{
    font-size: 2.25rem;
  }
  .weather-data-min-max, .weather-data-condition{
    font-size: 1.75rem;
  }
  .weather-data-current-temp-div{
    font-size: 2rem;
  }
  .weather-icon{
    height: 100px;
    width: 100px;
  }
  .weather-data-sub-info, .weather-data-sub-info2{
    justify-content: space-between;
  }
  .forecast-div{
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0;
  }
  .forecast-title{
    font-size: 1.75rem;
    margin-bottom: 1.5em;
  }
  .forecast-item{
    max-width: 100px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}